<a href="https://colab.research.google.com/github/kaustuv-techx/Weather-Dataset/blob/main/WEATHERLY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**USING WEATHER DATA TO WORK ON A PYTHON PROJECT**

***The Weather Dataset***

Here the weather Dataset is data set with information about weather conditions at a location. It records temperature , humidity , wind speed , pressure , conditions and dew point temperature

In [1]:
import pandas as pd

In [18]:
url = 'https://raw.githubusercontent.com/kaustuv-techx/Weather-Dataset/main/1.%20Weather%20Data.csv'
data = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [19]:
data

             Date/Time  Temp_C  ...  Press_kPa               Weather
0        1/1/2012 0:00    -1.8  ...     101.24                   Fog
1        1/1/2012 1:00    -1.8  ...     101.24                   Fog
2        1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5  ...     101.23                   Fog
...                ...     ...  ...        ...                   ...
8779  12/31/2012 19:00     0.1  ...     100.13                  Snow
8780  12/31/2012 20:00     0.2  ...     100.03                  Snow
8781  12/31/2012 21:00    -0.5  ...      99.95                  Snow
8782  12/31/2012 22:00    -0.2  ...      99.91                  Snow
8783  12/31/2012 23:00     0.0  ...      99.89                  Snow

[8784 rows x 8 columns]

**Analysing Data Frames**

*.head() - it shows the first N rows in the data*

In [20]:
data.head()

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog

[5 rows x 8 columns]

***.shape - it shows the total no of rows and no of columns of the dataframe***

In [21]:
data.shape

(8784, 8)

***.index - this attribute provides the index of the dataframe***

In [22]:
data.index

RangeIndex(start=0, stop=8784, step=1)

***.columns - it shows the name of each column***

In [23]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

***.dtypes - it shows the data type of each column***

In [24]:
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

***.unique()***

in a column , it shows all the unique values , it can be applied on a single column only ( not on the whole data frame )

In [27]:
data['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

***.nunique()*** 

it shows the total no of unique values in each column , it can be applied on a single column as well as on whole dataframe

In [28]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

**.count**

it shows the total no of non - null in each column , it can be applied on a single column as well as on whole dataframe

In [29]:
data.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

**.value_counts**

in a column , it shows all the unique values with their count , it can be appliead on a single column only

In [32]:
data['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Snow Showers,Fog                              4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Moderate Snow                                 4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Moderate Snow,Blowing Snow                    2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Thunderstorms                                 2
Freezing Rain,Haze                            2
Snow Pellets                                  1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Rain Showers,Fog                              1
Thunderstorms,Rain,Fog                        1
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Moderate Rain,Fog                             1
Freezing Rain,Snow Grains                     1
Rain,Snow Grains                              1
Name: Weather, dtype: int64

**.info()**

provides basic info about the data frame

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

### **Finding the unique wind speed values in data**

In [34]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [35]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [36]:
data['Wind Speed_km/h'].nunique()

34

In [40]:
data['Wind Speed_km/h'].unique() #answer

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

### **Finding the times , weather is exactly clear**

In [41]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [42]:
# value.counts()
data.Weather.value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Snow Showers,Fog                              4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Moderate Snow                                 4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Moderate Snow,Blowing Snow                    2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Thunderstorms                                 2
Freezing Rain,Haze                            2
Snow Pellets                                  1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Rain Showers,Fog                              1
Thunderstorms,Rain,Fog                        1
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Moderate Rain,Fog                             1
Freezing Rain,Snow Grains                     1
Rain,Snow Grains                              1
Name: Weather, dtype: int64

In [45]:
#filtering
#data.head(2)
data[data.Weather == 'Clear']

             Date/Time  Temp_C  ...  Press_kPa  Weather
67      1/3/2012 19:00   -16.9  ...     101.74    Clear
114     1/5/2012 18:00    -7.1  ...     100.71    Clear
115     1/5/2012 19:00    -9.2  ...     100.80    Clear
116     1/5/2012 20:00    -9.8  ...     100.83    Clear
117     1/5/2012 21:00    -9.0  ...     100.83    Clear
...                ...     ...  ...        ...      ...
8646   12/26/2012 6:00   -13.4  ...     102.47    Clear
8698  12/28/2012 10:00    -6.1  ...     101.27    Clear
8713   12/29/2012 1:00   -11.9  ...     101.31    Clear
8714   12/29/2012 2:00   -11.8  ...     101.33    Clear
8756  12/30/2012 20:00   -13.8  ...     101.52    Clear

[1326 rows x 8 columns]

In [47]:
#groupby()
#data.head(2)
data.groupby('Weather').get_group('Clear')

             Date/Time  Temp_C  ...  Press_kPa  Weather
67      1/3/2012 19:00   -16.9  ...     101.74    Clear
114     1/5/2012 18:00    -7.1  ...     100.71    Clear
115     1/5/2012 19:00    -9.2  ...     100.80    Clear
116     1/5/2012 20:00    -9.8  ...     100.83    Clear
117     1/5/2012 21:00    -9.0  ...     100.83    Clear
...                ...     ...  ...        ...      ...
8646   12/26/2012 6:00   -13.4  ...     102.47    Clear
8698  12/28/2012 10:00    -6.1  ...     101.27    Clear
8713   12/29/2012 1:00   -11.9  ...     101.31    Clear
8714   12/29/2012 2:00   -11.8  ...     101.33    Clear
8756  12/30/2012 20:00   -13.8  ...     101.52    Clear

[1326 rows x 8 columns]

### **Finding when the wind speed is exactly 4 km/hr**

In [48]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [51]:
data[data['Wind Speed_km/h'] == 4] #answer

             Date/Time  Temp_C  ...  Press_kPa       Weather
0        1/1/2012 0:00    -1.8  ...     101.24           Fog
1        1/1/2012 1:00    -1.8  ...     101.24           Fog
96       1/5/2012 0:00    -8.8  ...     100.32          Snow
101      1/5/2012 5:00    -7.0  ...     100.19          Snow
146      1/7/2012 2:00    -8.1  ...     100.15        Cloudy
...                ...     ...  ...        ...           ...
8768   12/31/2012 8:00    -8.6  ...     101.14  Snow Showers
8769   12/31/2012 9:00    -8.1  ...     101.09          Snow
8770  12/31/2012 10:00    -7.4  ...     101.05      Snow,Fog
8772  12/31/2012 12:00    -5.8  ...     100.78          Snow
8773  12/31/2012 13:00    -4.6  ...     100.63          Snow

[474 rows x 8 columns]

### **Finding out all null values in data**

In [53]:
data.isnull()

      Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0         False   False             False  ...          False      False    False
1         False   False             False  ...          False      False    False
2         False   False             False  ...          False      False    False
3         False   False             False  ...          False      False    False
4         False   False             False  ...          False      False    False
...         ...     ...               ...  ...            ...        ...      ...
8779      False   False             False  ...          False      False    False
8780      False   False             False  ...          False      False    False
8781      False   False             False  ...          False      False    False
8782      False   False             False  ...          False      False    False
8783      False   False             False  ...          False      False    False

[8784 rows x 8 columns]

In [54]:
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [55]:
data.notnull().sum()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

### **Mean of visibility**

In [56]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [57]:
data.Visibility_km.mean()

27.66444672131151

### **Standard Deviation of Pressure in this data**

In [58]:
data.Press_kPa.std()

0.8440047459486474

### **Variance of relative humidity in this data**

In [59]:
data['Rel Hum_%'].var()

286.2485501984998

### **Finding all instances when snow was recorded**

In [61]:
# value_counts()
#data.head(2)
data['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Snow Showers,Fog                              4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Moderate Snow                                 4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Moderate Snow,Blowing Snow                    2
Rain Showers,Snow Showers                     2
Drizzle,Snow                                  2
Thunderstorms                                 2
Freezing Rain,Haze                            2
Snow Pellets                                  1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Rain Showers,Fog                              1
Thunderstorms,Rain,Fog                        1
Rain,Snow,Fog                                 1
Rain,Ice Pellets                              1
Moderate Rain,Fog                             1
Freezing Rain,Snow Grains                     1
Rain,Snow Grains                              1
Name: Weather, dtype: int64

In [63]:
#Filtering
data[data['Weather'] == 'Snow']

             Date/Time  Temp_C  ...  Press_kPa  Weather
55       1/3/2012 7:00   -14.0  ...     100.95     Snow
84      1/4/2012 12:00   -13.7  ...     101.25     Snow
86      1/4/2012 14:00   -11.3  ...     100.97     Snow
87      1/4/2012 15:00   -10.2  ...     100.89     Snow
88      1/4/2012 16:00    -9.4  ...     100.79     Snow
...                ...     ...  ...        ...      ...
8779  12/31/2012 19:00     0.1  ...     100.13     Snow
8780  12/31/2012 20:00     0.2  ...     100.03     Snow
8781  12/31/2012 21:00    -0.5  ...      99.95     Snow
8782  12/31/2012 22:00    -0.2  ...      99.91     Snow
8783  12/31/2012 23:00     0.0  ...      99.89     Snow

[390 rows x 8 columns]

In [67]:
#str.contains
data[data['Weather'].str.contains('Snow')].tail(50)

             Date/Time  Temp_C  ...  Press_kPa                Weather
8680  12/27/2012 16:00    -4.5  ...     100.44      Snow,Blowing Snow
8681  12/27/2012 17:00    -4.2  ...     100.47      Snow,Blowing Snow
8682  12/27/2012 18:00    -4.0  ...     100.49      Snow,Blowing Snow
8683  12/27/2012 19:00    -3.9  ...     100.52      Snow,Blowing Snow
8684  12/27/2012 20:00    -3.7  ...     100.58                   Snow
8685  12/27/2012 21:00    -3.7  ...     100.62  Freezing Drizzle,Snow
8686  12/27/2012 22:00    -3.8  ...     100.65  Freezing Drizzle,Snow
8687  12/27/2012 23:00    -4.0  ...     100.70                   Snow
8688   12/28/2012 0:00    -4.2  ...     100.78  Freezing Drizzle,Snow
8689   12/28/2012 1:00    -4.4  ...     100.83  Freezing Drizzle,Snow
8690   12/28/2012 2:00    -4.3  ...     100.93  Freezing Drizzle,Snow
8691   12/28/2012 3:00    -4.6  ...     101.01                   Snow
8692   12/28/2012 4:00    -4.9  ...     101.00                   Snow
8723  12/29/2012 11:00   -10.9  ...     101.09       Snow Showers,Fog
8724  12/29/2012 12:00   -10.5  ...     100.93       Snow Showers,Fog
8725  12/29/2012 13:00   -10.0  ...     100.63       Snow Showers,Fog
8726  12/29/2012 14:00    -9.3  ...     100.60               Snow,Fog
8727  12/29/2012 15:00    -8.8  ...     100.55               Snow,Fog
8728  12/29/2012 16:00    -8.5  ...     100.49               Snow,Fog
8729  12/29/2012 17:00    -9.0  ...     100.46               Snow,Fog
8730  12/29/2012 18:00    -9.3  ...     100.38               Snow,Fog
8731  12/29/2012 19:00    -9.5  ...     100.33               Snow,Fog
8732  12/29/2012 20:00    -9.7  ...     100.25               Snow,Fog
8733  12/29/2012 21:00    -9.8  ...     100.24               Snow,Fog
8734  12/29/2012 22:00   -10.1  ...     100.20               Snow,Fog
8735  12/29/2012 23:00   -10.0  ...     100.19               Snow,Fog
8736   12/30/2012 0:00    -9.6  ...     100.23               Snow,Fog
8737   12/30/2012 1:00    -9.4  ...     100.22               Snow,Fog
8738   12/30/2012 2:00    -9.3  ...     100.28               Snow,Fog
8739   12/30/2012 3:00    -9.1  ...     100.30               Snow,Fog
8740   12/30/2012 4:00    -9.3  ...     100.28               Snow,Fog
8741   12/30/2012 5:00    -9.1  ...     100.32               Snow,Fog
8742   12/30/2012 6:00    -9.3  ...     100.39               Snow,Fog
8767   12/31/2012 7:00    -9.3  ...     101.19           Snow Showers
8768   12/31/2012 8:00    -8.6  ...     101.14           Snow Showers
8769   12/31/2012 9:00    -8.1  ...     101.09                   Snow
8770  12/31/2012 10:00    -7.4  ...     101.05               Snow,Fog
8771  12/31/2012 11:00    -6.7  ...     100.93                   Snow
8772  12/31/2012 12:00    -5.8  ...     100.78                   Snow
8773  12/31/2012 13:00    -4.6  ...     100.63                   Snow
8774  12/31/2012 14:00    -3.4  ...     100.57                   Snow
8775  12/31/2012 15:00    -2.3  ...     100.47                   Snow
8776  12/31/2012 16:00    -1.4  ...     100.40                   Snow
8777  12/31/2012 17:00    -1.1  ...     100.30                   Snow
8778  12/31/2012 18:00    -1.3  ...     100.19                   Snow
8779  12/31/2012 19:00     0.1  ...     100.13                   Snow
8780  12/31/2012 20:00     0.2  ...     100.03                   Snow
8781  12/31/2012 21:00    -0.5  ...      99.95                   Snow
8782  12/31/2012 22:00    -0.2  ...      99.91                   Snow
8783  12/31/2012 23:00     0.0  ...      99.89                   Snow

[50 rows x 8 columns]

### **Finding when wind speed is above 24 and visibility is 25**

In [68]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [70]:
data[(data['Wind Speed_km/h'] > 24) & (data['Visibility_km'] == 25 )]

             Date/Time  Temp_C  ...  Press_kPa        Weather
23      1/1/2012 23:00     5.3  ...      99.31         Cloudy
24       1/2/2012 0:00     5.2  ...      99.26   Rain Showers
25       1/2/2012 1:00     4.6  ...      99.26         Cloudy
26       1/2/2012 2:00     3.9  ...      99.26  Mostly Cloudy
27       1/2/2012 3:00     3.7  ...      99.30  Mostly Cloudy
...                ...     ...  ...        ...            ...
8705  12/28/2012 17:00    -8.6  ...     101.34   Mainly Clear
8753  12/30/2012 17:00   -12.1  ...     101.26   Mainly Clear
8755  12/30/2012 19:00   -13.4  ...     101.47   Mainly Clear
8759  12/30/2012 23:00   -12.1  ...     101.52  Mostly Cloudy
8760   12/31/2012 0:00   -11.1  ...     101.51         Cloudy

[308 rows x 8 columns]